<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">BOOKLOVERS HAVEN</span>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                <b>Announcements and Events: </b><br />
                Join our bookclub! Meetings every Tuesday 
                <br /><br /><br />
                Philosphy and Fries: Semi weekly debates. Read the excerpt and bring your appetite 
                <br /><br /><br />
                Stories with the Smalls: Bring your kindergarten aged child for storytime every Wednesday at 2
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
